@charset "UTF-8";
/* line 5, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/main.sass */
div {
  vertical-align: top;
}

/* line 5, ../sass/main.sass */
h1, h2, h3, h4, h5 {
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", YuMincho, "游明朝", serif;
}

/* line 7, ../sass/main.sass */
#whole {
  width: 960px;
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", YuMincho, "游明朝", serif;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}
/* line 16, ../sass/main.sass */
#whole header {
  margin-bottom: 20px;
}
/* line 18, ../sass/main.sass */
#whole header #headerlogo {
  height: 50px;
  display: inline-block;
}
/* line 21, ../sass/main.sass */
#whole header #headertitle {
  display: inline-block;
  height: 50px;
  letter-spacing: -2px;
}
/* line 25, ../sass/main.sass */
#whole header #headertitle h2 {
  font-size: 20px;
}
/* line 27, ../sass/main.sass */
#whole header #headertitle h1 {
  font-size: 30px;
}
/* line 31, ../sass/main.sass */
#whole #topimg {
  display: inline-block;
  margin-right: 20px;
}
/* line 34, ../sass/main.sass */
#whole #topimg img {
  width: 470px;
}
/* line 36, ../sass/main.sass */
#whole #imglinks {
  display: inline-block;
  width: 470px;
  overflow: hidden;
}
/* line 41, ../sass/main.sass */
#whole #imglinks ul li {
  cursor: pointer;
  display: inline-block;
  width: 225px;
  height: 225px;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 48, ../sass/main.sass */
#whole #imglinks ul li a {
  text-decoration: none;
}
/* line 50, ../sass/main.sass */
#whole #imglinks ul li a img {
  height: 225px;
  width: 225px;
}
/* line 53, ../sass/main.sass */
#whole #imglinks ul li a .imgtext {
  height: 15px;
  padding: 5px 10px;
  position: relative;
  bottom: 25px;
  font-size: 15px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
/* line 65, ../sass/main.sass */
#whole #imglinks ul li:hover > a > .imgtext {
  height: 25px;
  bottom: 35px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #222;
  font-size: 25px;
}
/* line 71, ../sass/main.sass */
#whole #imglinks ul li:nth-child(odd) {
  margin-right: 20px;
}

/* line 73, ../sass/main.sass */
.toplists {
  margin-top: 10px;
  display: inline-block;
  width: 470px;
}
/* line 77, ../sass/main.sass */
.toplists .topliststitle {
  background-color: #ddd;
  color: #333;
  font-size: 20px;
  font-family: "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", YuMincho, "游明朝", serif;
  padding: 3px 10px;
}
/* line 84, ../sass/main.sass */
.toplists .topliststable {
  margin: 3px 0px;
  width: 100%;
  max-height: 100px;
  overflow: scroll;
}
/* line 89, ../sass/main.sass */
.toplists .topliststable table {
  width: 100%;
}
/* line 91, ../sass/main.sass */
.toplists .topliststable .toplistheader {
  width: 80%;
}
/* line 93, ../sass/main.sass */
.toplists .topliststable .toplistdate {
  width: 20%;
}
/* line 95, ../sass/main.sass */
.toplists tr {
  height: 25px;
  text-align: center;
  font-size: 15px;
}
/* line 99, ../sass/main.sass */
.toplists tr:not(:last-child) {
  border-bottom: thin dashed #ccc;
}
