!!! 5
%html{:lang => "ja"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{ :name => "keywords", :content => "" }/
    %meta{ :name => "description", :content => "" }/
    %link{ :rel => "stylesheet", :href => "css/main.css" }/
    %title
      甲陽学院中学校
  %body
    %div#whole
      %header
        %img#headerlogo{ :src => "./image/KoyoLogo.svg", :alt => "甲陽学院中学校ロゴ" }/
        %div#headertitle
          %h2
            学校法人 辰馬育英会
          %h1
            甲陽学院中学校
        %nav#tile

      %div#topimg
        %img{ :src => "image/Hikariniwa.JPG", :alt => "光庭" }/
      %div#imglinks
      %div.toplists#news
        %h3.topliststitle
          News
        %div.topliststable#newstable

      %footer


    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" }
    %script{ :src => "js/index.js" }


