!!! 5
%html{:lang => "ja"}
	%head
		%meta{:charset => "UTF-8"}/
		%meta{ :name => "keywords", :content => "" }/
		%meta{ :name => "description", :content => "" }/
		%link{ :rel => "stylesheet", :href => "css/main.css" }/
		%title
			甲陽学院中学校
	%body
		%div#whole
			%header
				%img#headerlogo{ :src => "./image/KoyoLogo.svg", :alt => "甲陽学院中学校ロゴ" }/
				%div#headertitle
					%h2
						学校法人 辰馬育英会
					%h1
						甲陽学院中学校
				%nav#tile
					
			%div#topphoto
				%img{ :src => "image/Hikariniwa.JPG", :alt => "光庭" }/
			%div#photolinks
				%ul
					%li
						%img{ :src => "image/sakura.jpg", :alt => "sakura" }/
						%div.phototext
							入学案内
					%li
						%img{ :src => "image/notebook.jpg", :alt => "notebook" }/
						%div.phototext
							教育方針
					%li
						%img{ :src => "image/classroom.jpg", :alt => "classroom" }/
						%div.phototext
							text text
					%li
						%img{ :src => "image/blackboard.jpg", :alt => "blackboard" }/
						%div.phototext
							title title
			%div#news
				%div#newstitle
					News
				%ul
					%li
						%div#newsheader
							text text
						%div#newsdate
							YY/MM/DD
					%li
						%div#newsheader
							hello world
						%div#newsdate
							YY/MM/DD
					%li
						%div#newsheader
							news news
						%div#newsdate
							YY/MM/DD

			%footer
				
				
